#input-icons i {
    position: absolute;
}
body{
    margin:0px;
    padding:0px
}
#navbar{
    width: 100%;
    height: 67px;
    background-color: black;
    display:flex;
    justify-content: space-between;
    position: fixed;
    
}
#logoimg{
    height:70%;
    margin-left:20px;
    margin-top: 8px;
}
#searchbox{
    
    display:flex;
    justify-content:center;
    align-items: center;
    margin-right:20px;
}
#input-icons{
    margin: 10px;
    border-radius: 4px;
    height:35%;
    background-color: black;
    color: gray;
    border:1px solid gray;
    font-weight: bold;
   


}
#nav_signin{
    background-color: rgb(28, 170, 226);
    color:white;
    margin: 10px;
    border-radius: 9px;
    height:80%;
    width:110px;
    cursor: pointer;
}
a{
    height:60%;
    margin-bottom:14px;
}
/* -------------------------------------icons */

.input-icons i {
    position: absolute;
    margin: 5px;
}
.input-icons {
    
    margin-bottom: 1px;
    color: gray;
    border: 1px solid white;
    border-radius:5px;
    
} 



.input-field {
    
    padding: 5px;
    text-align: center;
background-color: black;
color: gray;

} 
#buttonfun{
    height:60%;
margin-bottom:13px;
}


/* ------------------------------------homepage */
#homepage{
    width: 100%;
    height: 800px;
   background-image: url(https://is3-ssl.mzstatic.com/image/thumb/Features112/v4/bb/2c/ae/bb2cae80-b4e9-7193-8a4f-fb1129ad59ca/278c3382-c095-47b3-ba19-d82887d8b13a.png/1679x945sr.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}



/* #img1{
    width:100%;
    height:100%;
    position: relative;
    top:20px;
    left: 20px;
} */

#img2{
    
    
    width:300px;
    position:relative;
    margin-left:30px;
    margin-top:30px;


}
/* #img1{
    
    border:1px solid black;
    width:100%;
    position:absolute;
    height: 100%;


} */


#imgdetails{
    width:22%;
    color: white;
    
    margin-left: 30px;
    border: 1px solid transparent;
}
h1{
    
    margin-left: 30px;
    margin-top: 220px;
}
h3{
    margin-left: 30px;
}

#trialbtn{
    width:80%;
    margin-left: 30px;
    border-radius: 6px;
    height:40px;
    border:0px;
    cursor: pointer;
}
p{
    margin-left: 30px;
    color: gray;
    
    font-size:12px;
    margin-left: 72px;
}